<%# new.html.erb %>

<div class="topic-new">
  <div class="form-main">
    <%= form_with model:@topic, local: true do |f| %>
      <%= render 'shared/error', model: f.object %>
      <label>
      <%= f.file_field :images, multiple: true, id: :topic_image, class:"f-file" %>
      <div class="previews" id="image-list">
      画像を選択<br>
      (最大4枚)
      </div>
      </label>

      <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class: "f-category form"}) %>
      <div class="description">カテゴリーを選択</div>
      <%= f.text_field :title ,autocomplete: 'off',placeholder: "タイトル (20文字以内)", class:"f-title form" %>
      <%= f.text_area :text ,placeholder: "内容 (300文字以内)", class:"f-text form" %>
      <div class="checkbox">
      <%= f.label :anonymous, "匿名表示にする" %>
      <%= f.check_box :anonymous ,{checked: true}, "true", "false" %>
      </div>
      <div class="f-bottom">
      <%= f.submit "投稿", class:"f-submit form" %>
      </div>
      <div class="rootpath">
      <%=link_to 'ホームへ戻る', root_path, class:"rootpath-btn" %>
      </div>
    <% end %>
  </div>
</div>

