<%= render "shared/header" %>
<div class="show-all">
  <div class="show-main">
      <div class="topic-title"><strong><%= @topic.title %></strong></div>
    <% if @topic.images.present? %>
      <div class="show-photo">
        <% @topic.images.each do |image| %>
          <%= link_to image.url, 'data-lightbox': image do %>
            <%= image_tag image.url, height:"150px", width:"150px" ,class:"topic-image" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="show-topic-comments">
      <div class="show-topic">
        <div class="topic-category"><%= @topic.category.name %></div>
        <div class="topic-text"><%= @topic.text %></div>
        <div class="topic-bottom">
          <div class="topic-delete">
            <% if user_signed_in? && @topic.user_id == current_user.id %>
              <%= link_to "トピックを削除する", topic_path(@topic.id), method: :delete, data: {confirm: '一度削除すると復旧はできません。 本当に削除しますか？'}, class:"date" %>
            <% end %>
          </div>
          <div class="topic-user">
              <%= render partial: 'likes/like' %>
              <%= render partial: 'bads/bad' %>
            <% unless @topic.anonymous == true %>
              <% if @topic.user.image.present? %>
                <%= image_tag @topic.user.image_url, class:"topic-icon" %>
              <% else %>
                <%= image_tag "icon2.png", class:"topic-icon" %>
              <% end %>
              <div class="date">
                <%= time_ago_in_words(@topic.created_at) %>前<br>
                <%= @topic.user.nickname %>
              </div>
            <% else %>
              <div class="date">
                <%= time_ago_in_words(@topic.created_at) %>前<br> 
                ID: <%= @topic.user.public_uid %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-main">
      <div class="comments">
        <% if @comments.present? %>
          <% @comments.each.with_index(1) do |comments, idx| %>
            <% if comments.type_id == 3 %>
              <div class="comment1">
                <%= render partial: 'comments/comment', locals: { comments: comments, idx: idx } %>
              </div>
            <% else %>
              <div class="comment2">
                <%= render partial: 'comments/comment', locals: { comments: comments, idx: idx } %>
              </div>
            <% end %>
          <% end %>
        <% else %>
        <div class="comment-none">
        この投稿にはまだコメントがありません。
        </div>
        <% end %>
      </div>
    </div>
    <div class="comment-form-main">
      <% if user_signed_in? %>
        <div class="comment-form">
          <%= form_with(model: [@topic,@comment],local: true) do |f| %>
            <%= render 'shared/error', model: f.object %>
            <label>
            <%= f.file_field :images, multiple: true, id: :topic_image, data: {"turbolinks"=>false}, class:"f-file" %>
            <div class="previews" id="image-list">
              画像を選択<br>
              (最大4枚)
            </div>
            </label>
            <%= f.collection_select(:type_id, Type.all, :id, :name, {},{class: "f-type form"}) %>
            <%= f.text_area :comment, placeholder: "コメントを入力 (300文字以内)", class:"f-comment-text form" %>
            <div class="checkbox-comment">
              <%= f.label :anonymous, "匿名表示にする" %>
              <%= f.check_box :anonymous ,{checked: true}, "true", "false" %>
            </div>
            <%= f.submit "コメントを投稿する", class:"f-submit" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/home" %>
  <%= render "shared/scroll" %>
</div>