<% if user_signed_in? && current_user.liked_by?(@topic) %>
  <%= link_to topic_like_path(@topic), method: :DELETE, remote: true, class:"good_after" do %>
    <%= image_tag 'good1.png', class:"good_icon" %>
    <%= @topic.likes.count %>
  <% end %>
<% elsif user_signed_in? && !current_user.hated_by?(@topic) %>
  <%= link_to topic_likes_path(@topic), method: :POST, remote: true, class:"good_before" do %>
    <%= image_tag 'good.png', class:"good_icon" %>
    <%= @topic.likes.count %>
  <% end %>
<% else %>
  <div class="good_before">
    <%= image_tag 'good.png', class:"good_icon" %>
    <%= @topic.likes.count %>
  </div>
<% end %>
