<%= render "shared/side" %>

<div class="show-user-main">
  <div class="show-user-left">
    <div class="user-date">
      <% if @user.image.present? %>
        <%= image_tag @user.image_url, class: "show-user-image" %><br>
      <% else %>
        <%= image_tag "icon.png", class: "show-user-image" %><br>
      <% end %>
      ニックネーム：<%= @user.nickname %><br>
      匿名時のID：<%= @user.public_uid %><br>
    </div>
    <div class="user-topics-date">
      投稿したトピック数：<%= @user.topics.count %>件<br>
      コメントした数：<%= @user.comments.count %>回<br>
      Goodボタンを押した数：<%= @user.likes.count %>回<br>
      Badボタンを押した数： <%= @user.bads.count %>回<br>
    </div>
  </div>
  <div class="show-user-right">
    <h1><%= @user.nickname %>さんの投稿記事一覧</h1>
    <% if @topics.present? %>
      <% @topics.each do |topics| %>
        <div class="user-topics">
          <%= link_to topics.title, topic_path(topics), class:"user-topic" %>
          　<i class="far fa-comment"></i><%= topics.comments.count %>件
        (<%= time_ago_in_words(topics.created_at) %>前)
        </div>
      <% end %>
    <% else %>
      投稿したトピックはまだありません。
    <% end %>
    <h3 class="text-center">通知</h3>
    <%= link_to "通知削除", topic_notification_path(@notifications), method: :delete %>
    <% if @notifications.present? %>
      <% @notifications.each do |notification| %>
        <p><i class="fas fa-bell"></i><%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span></p>
        <br>
        <% if !@comment.nil? %>
          <p class="notification-comment"><%= @comment %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
</div>

