<%= render "shared/side" %>
<%= render "shared/header" %>
<div class="show-user-main">
  <div class="show-user-left">
    <div class="user-date">
      <% if @user.image.present? %>
        <%= image_tag @user.image_url, class: "show-user-image" %><br>
      <% else %>
        <%= image_tag "icon.png", class: "show-user-image" %><br>
      <% end %>
      ニックネーム<br><%= @user.nickname %><br><br>
      匿名表示<br>ID:<%= @user.public_uid %><br>
    </div>
    <div class="user-topics-date">
    <%= link_to "管理者画面へ", admin_root_path %>
      <div class="date-category">投稿したトピック数<br><%= @user.topics.count %>件</div>
      <div class="date-category">コメントした数<br><%= @user.comments.count %>回</div>
      <div class="date-category">Goodした数<br><%= @user.likes.count %>回</div>
      <div class="date-category">Badした数<br><%= @user.bads.count %>回</div>
      <div class="date-category">Goodされた数<br><%= @l_count %>回</div>
      <div class="date-category">Badされた数<br><%= @b_count %>回</div>
    </div>
  </div>
  <div class="show-user-right">
    <div class="user-topics">
      <div class=user-title><i class="fas fa-pen-alt"></i>投稿トピック一覧</div>
      <% if @topics.present? %>
        <% @topics.each do |topics| %>
          <div class="user-topic">
            <%= link_to topics.title, topic_path(topics), class:"user-topic-link" %>
            <i class="far fa-comment-dots"></i><%= topics.comments.count %>件<br>
            (<%= time_ago_in_words(topics.created_at) %>前)
          </div>
        <% end %>
      <% else %>
        <div class="user-topic">投稿したトピックはありません。</div>
      <% end %>
    </div>
    <div class="notifications">
      <div class=user-title><i class="fas fa-bell"></i>通知一覧</div>
      <% if @notifications.present? %>
        <%= link_to "通知削除", topic_notification_path(@notifications), method: :delete %>
        <% @notifications.each do |notification| %>
          <div class="user-notification"><%= notification_form(notification) %><span class="moderate-font"><br><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span></div>
          <% if !@comment.nil? %>
            <p class="notification-comment"><%= @comment %></p>
          <% end %>
        <% end %>
      <% else %>
        <div class="user-topic">通知はありません。</div>
      <% end %>
    </div>
  </div>
</div>

