<% if user_signed_in? && current_user.hated_by?(@topic) %>
  <%= link_to topic_bad_path(@topic), method: :DELETE, class:"bad_after" do %>
    <%= image_tag 'bad1.png', class:"good_icon" %>
    <%= @topic.bads.count %>
  <% end %>
<% elsif user_signed_in? && !current_user.liked_by?(@topic) %>
  <%= link_to topic_bads_path(@topic), method: :POST, class:"good_before" do %>
    <%= image_tag 'bad.png', class:"good_icon" %>
    <%= @topic.bads.count %>
  <% end %>
<% else %>
  <div class="good_before">
    <%= image_tag 'bad.png', class:"good_icon" %>
    <%= @topic.bads.count %>
  </div>
<% end %>